body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}

::-webkit-scrollbar {
    width: 1px;
}
.header-menu{
    display: flex;
    align-items: center;
}

.todayToDo_container{
    max-width: 150px;
    background: #B6002C;
    color: #fff;
    border-radius: 51px;
    padding: 5px 15px 5px 15px;
    align-items: center;
    max-height: 25px;
}

.main{
    display: flex;  
}
.task_manager {
    animation: fadeIn 2s;
    max-width: 1000px;
    max-height: 620px;
    margin: 0 auto;
    margin-top: 75px;

}

.create_new_task_body {
    margin-top: 15px;
    max-width: 150px;
    margin-left: auto;
    margin-bottom: 15px;
    display: flex;
}

.create_new_task_container {
    width: 100%;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding-right: 15px;
}

.create_new_task_container:first-child {
    padding-left: 5px;
}

.create_new_task_container:hover {
    transition: .3s;
    background: #1CA329;

}

.create_new_task_container:hover {
    background: #1CA329;
    transition: .3s;

}

.create_new_task_container:hover .add_new_task_button path {
    fill: #fff;
    transition: .3s;
}

.create_new_task_container:hover .new_task_text {
    color: #fff;
    transition: .3s;
}

.todolist_Body {
    margin-bottom: 70px;
    max-height: 620px;
    min-height: 620px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.066);
    border-radius: 20px;
    padding: 25px 75px 55px 75px
}

.todolist_container {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.task_List_Day {
    width: 100%;
    display: flex;
    align-items: center;
    align-items: flex-end;

}

.list_Day {
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
    margin-right: 5px;
}

.curentDayDate {
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #7c7c7c;
    padding-bottom: 7px;
}

.task_Body {
    border-bottom: 1px solid #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    animation: fadeIn 2s;
}

.task_checkbox {
    width: 15px;
    height: 15px;
    margin-top: 21px;
    margin-right: 10px;
    margin-left: 15px;
    color: #1CA329;
}

.task {
    display: flex;

}

.task_name {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.task_desription {
    max-width: 700px;
    font-weight: 400;
    font-size: 12px;
    color: #8f8f8f;
}

.task_deadline {
    margin-right: 15px;
    font-weight: 500;
    font-size: 12px;
    color: #1CA329;
}

.task_Delete_Button {
    margin-left: 8px;
    margin-right: 15px;
}

/* buttons hover effects */

.task_Body:hover .task_buttons .task_Edit_Button path {
    fill: #1CA329;
    transition: .3s;
}

.task_Body:hover .task_buttons .task_Delete_Button path {
    fill: #B6002C;
    transition: .3s;
}

.task_Delete_Button:hover,
.task_Edit_Button:hover {
    transition: .3s;
    transform: scale(1.3);
}

/* buttons hover effects */

.task_Body:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
    transition: .5s;
    /* transform: scale(1.01); */
}


.add_new_task {
    align-items: center;
    display: flex;
}

.new_task_text {
    margin-left: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #6b6b6b;
}

.add_new_task_button {
    padding: 5px;
    border-radius: 15px;
}

.add_new_task_button:hover {
    background: #1CA329;
    transition: .3s;
}

.add_new_task_button:hover.add_new_task_button path {
    transition: .3s;
    fill: #fff;
}



/* Create New task */
.new_task_create_window_body {
    transition: .2s;
    height: auto;
    max-width: 1000px;
    display: none;
    margin-bottom: 25px;

}

.change_task_window_body {
    display: block;
    height: auto;
    max-width: 1000px;

}

.new_task_create_window_container,
.change_task_window_container {
    position: relative;
    height: 110%;
    border: 1px solid #9B9B9B;
    border-radius: 15px;
    padding: 18px;
    max-width: 1000px;
}

.change_task_window_container {
    background: #fff;
}

.TaskNameSet {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    background: transparent;
    outline: none;
}

.TaskDesriptionSet {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    background: transparent;
    outline: none;
}

.TaskDaySet {
    margin-top: 5px;
    padding: 5px;
    border: 0.5px solid #B4B4B4;
    border-radius: 3px;
    color: #B4B4B4;
}

.setPriority {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px;
    margin: 15px;
    background: none;
    outline: none;
    border: none;
    fill: #000000;
}

.setPriority:hover {
    transition: .2s;
    transform: scale(1.01);
    background: #21bd31;
    transform: scale(1.2);
    border-radius: 25px;
}

.SetPrioriry svg {
    pointer-events: none;
}

.new_task_create_buttons,
.change_task_buttons {
    display: flex;
    margin-top: 12px;

}

.cancle_new_task_create_button,
.cancle_change_task_button {
    cursor: pointer;
    border: 0.5px solid #B4B4B4;
    border-radius: 5px;
    text-align: center;
    padding: 5px 25px 0px 25px;
    margin-right: 15px;
}

.add_new_task_create_button,
.add_change_task_button {
    cursor: pointer;
    border: 0.5px solid #B4B4B4;
    border-radius: 5px;
    text-align: center;
    padding: 5px 25px 5px 25px;
    background: #1CA329;
    color: #F1F1F1;
}

.cancle_new_task_create_button:hover {
    transition: .2s;
    transform: scale(1.02);
    background: #ff0055;
    color: #fff;
}

.add_new_task_create_button:hover {
    transition: .2s;
    transform: scale(1.02);
    background: #21bd31;
}
@media (max-width: 500px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }

    .todolist_Body {
        max-height: 150x;
        min-height: 150px;
        background: #ffffff;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
        border-radius: 30px;
        padding: 5px;
        border-radius: 15px;
    }

    .task_List_Day {
        margin-left: 15px;

    }


}

.task_Body--done,
.DoneTask {
    background: linear-gradient(90deg, rgba(28, 163, 41, 0.09) 0.53%, rgba(22, 255, 171, 0) 84.57%);
    border-radius: 5px;
    color: aqua;
}

.deadlineSetings {
    display: flex;
}

.flex-container {
    display: flex;
    align-items: center;
}

.setTodayButton {
    background: #B6002C;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-left: 15px;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 5px;
}

.task_deadline_today-time {
    font-weight: 500;
    font-size: 12px;
    color: #B6002C;
}

.TaskTimeSet {
    margin-left: 15px;
    padding: 5px;
    border: 0.5px solid #B4B4B4;
    border-radius: 5px;
    color: #B4B4B4;
}

#Priority {
    animation-name: example;
    animation-duration: 2s;
    align-items: flex-end;
    color: #B6002C;
    /* background: linear-gradient(90deg, rgba(182, 0, 44, 0.09) 0.53%, rgba(22, 255, 171, 0) 32.57%); */

}

.task-change_pop-up {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    /* background-color: rgba(0, 0, 0, 0.226); */
    backdrop-filter: blur(3px);
    z-index: 2;
}

.task-change_pop-up__container {
    display: flex;
    width: 100%;
    height: 100%;
}

.task-change_pop-up__body {
    margin: auto;
}

.Today {
    background: #b6002ec2;
    color: #fff;
    font-weight: 700px;
    padding: 5px 15px 5px 15px;
    font-size: 12px;
    border-radius: 15px;
    margin-left: 15px;
}

@keyframes example {
    0% {
        color: #B6002C;
        left: 0px;
        top: 0px;
    }

    25% {
        color: #ffff;
        ;
        left: 200px;
        top: 0px;
    }

    50% {
        color: #B6002C;
        left: 200px;
        top: 200px;
    }

    75% {
        сolor: #fff;
        left: 0px;
        top: 200px;
    }

    100% {
        color: #B6002C;
        left: 0px;
        top: 0px;
    }
}



/* // Calendar Protype--------------------  */

/* 
.taskCalendarContainer {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;

}

.task-list_day-container {
    margin-right: 20px;
    margin-top: 50px;
    max-width: 300px;
    min-width: 300px;
}

.list-day {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.task-body {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 100%;
    min-height: 80px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
}

.task-body:hover {

    background: linear-gradient(360deg, rgba(29, 162, 41, 0.08) 0.01%, rgba(255, 255, 255, 0) 100%);
}

.task-container {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;

}

.done-cheker {
    margin-right: 15px;
}

.task-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.task-deadline {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #1CA329;
}

.task_buttons_calendar {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 15px;
    padding-right: 25px;
}

.task-container:hover .task_buttons_calendar .task_Edit_Button path {
    fill: #1CA329;
    transition: .3s;
}

.task-container:hover .task_buttons_calendar .task_Delete_Button path {
    fill: #B6002C;
    transition: .3s;
}

.task_Delete_Button {
    margin-left: 15px;
}

.task_Delete_Button:hover,
.task_Edit_Button:hover {
    transition: .3s;
    transform: scale(1.3);
}


button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

#header button {
    background-color: #1CA329;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
}

.calendarBody {
    max-width: 1000px;
}

#container {
    width: 100%;
}

#weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
}

#weekdays div {
    width: 100%;
    padding: 10px;
}

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 250px;
    padding: 10px;
    min-height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.273);
    margin: 0px;
    /* box-shadow: 0px 0px 3px #CBD4C2; */
    /* border: .5px solid #efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* .day:hover {
    background-color: rgba(171, 239, 178, 0.617)
}

.day+#currentDay {
    background-color: rgba(171, 239, 178, 0.617);
}

.event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    border: none;
    cursor: default !important;
    background-color: #ffffff !important;
    box-shadow: none !important;
}

#newEventModal,
#deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}

#eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
    border: 2px solid red;
}

#cancelButton,
#deleteButton {
    background-color: #d36c6c;
}

#saveButton,
#closeButton {
    background-color: #92a1d1;
}

#eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
} */ 
