.task_Body--done,
.DoneTask {
    /* filter: blur(5px); */
    background: linear-gradient(90deg, rgba(28, 163, 41, 0.09) 0.53%, rgba(22, 255, 171, 0) 84.57%);
    border-radius: 5px;
    color: aqua;
}

/* Create New task */

#Priority {
    animation-name: example;
    animation-duration: 2s;
    align-items: flex-end;
    color: #B6002C;
    /* background: linear-gradient(90deg, rgba(182, 0, 44, 0.09) 0.53%, rgba(22, 255, 171, 0) 32.57%); */

}

.task-change_pop-up {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    /* background-color: rgba(0, 0, 0, 0.226); */
    backdrop-filter: blur(3px);
    z-index: 2;
}

.task-change_pop-up__container {
    display: flex;
    width: 100%;
    height: 100%;
}

.task-change_pop-up__body {
    margin: auto;
}

@keyframes example {
    0% {
        color: #B6002C;
        left: 0px;
        top: 0px;
    }

    25% {
        color: #ffff;
        ;
        left: 200px;
        top: 0px;
    }

    50% {
        color: #B6002C;
        left: 200px;
        top: 200px;
    }

    75% {
        —Åolor: #fff;
        left: 0px;
        top: 200px;
    }

    100% {
        color: #B6002C;
        left: 0px;
        top: 0px;
    }
}


@media (max-width: 1047px) {
    body {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media (max-width: 500px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }

    .todolist_Body {
        max-height: 150x;
        min-height: 150px;
        background: #ffffff;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
        border-radius: 30px;
        padding: 25px 10px 55px 10px
    }

    .task_List_Day {
        margin-left: 15px;

    }


}